<%- include("partials/header") %>

<div class="intro">
  <h1>Scavenger Hunt</h1>
  <p>organized by</p>
  <h2>Boolean, Tech Club</h2>
  <h3>Sri Venkateswara College, Delhi University</h3>
  <div class="action-buttons">
    <a href="/register"><button class="btn btn-primary">Register!</button></a>
    <a href="/login"><button class="btn btn-warning">Login</button></a>
  </div>
</div>

<%- include("partials/pseudo-footer") %>
