<%- include("partials/header") %>

<div class="intro">
  <h2>Login</h2>
  <form action="/login" method="post">
    <div class="input">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="input">
      <input
        type="password"
        name="password"
        id="password"
        minlength="12"
        placeholder="Password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
      />
    </div>
    <button class="btn btn-lg btn-warning pl-4 pr-4" type="submit">
      Submit
    </button>
  </form>
</div>

<h5 class="pseudo-footer">
  &copy;Boolean, Tech Club, 2020. All Rights Reserved.
</h5>

<!-- <%- include("partials/footer") %> -->
