<%- include("partials/header") %>

<div class="intro">
  <h2>Register</h2>
  <form action="/register" method="post">
    <div class="input">
      <input
        type="text"
        name="fullName"
        id="fullName"
        placeholder="Full Name"
        required
      />
    </div>
    <div class="input">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="input" style="margin-bottom: 0">
      <input
        type="password"
        name="password"
        id="password"
        minlength="10"
        placeholder="Password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
      />
      <i class="fas fa-eye show-pass"></i>
    </div>
    <small
      >Minimum 10 characters, one uppercase letter, one lowercase letter, one
      digit, and one special character.
    </small>
    <div class="input">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email Address"
        required
      />
    </div>
    <div class="input">
      <input
        type="number"
        id="phone"
        name="phone"
        placeholder="Contact Number"
        required
        minlength="10"
        maxlength="10"
      />
    </div>
    <div class="input select">
      <label for="year" class="mb-2">Course</label><br />
      <select required name="course" id="course">
        <option value="1">B. Com (P)</option>
        <option value="2">B. Com (H)</option>
        <option value="3">B. Sc. (H) Biochemistry</option>
        <option value="4">B. Sc. (H) Biological Sciences</option>
        <option value="5">B. Sc. (H) Chemistry</option>
        <option value="6">B. Sc. (H) Botany</option>
        <option value="7">B. Sc. (H) Electronics</option>
        <option value="8">B. Sc. (H) Mathematics</option>
        <option value="9">B. Sc. (H) Life Sciences</option>
        <option value="10">B. Sc. (H) Physics</option>
        <option value="11">B. Sc. (H) Statistics</option>
        <option value="12">B. Sc. (H) Zoology</option>
        <option value="13">B. A. (H) Economics</option>
        <option value="14">B. A. (H) English</option>
        <option value="15">B. A. (H) Hindi</option>
        <option value="16">B. A. (H) Sanskrit</option>
        <option value="17">B. A. (H) History</option>
        <option value="18">B. A. (H) Political Science</option>
        <option value="19">B. A. (H) Sociology</option>
        <option value="20">B. A. (P))</option>
      </select>
    </div>
    <div class="input select">
      <label for="year">Year of Study</label>
      <select required name="year" id="year">
        <option value="1">I</option>
        <option value="2">II</option>
        <option value="3">III</option>
      </select>
    </div>
    <div class="input">
      <input
        type="number"
        name="rollNo"
        id="rollNo"
        placeholder="Roll No"
        required
      />
    </div>
    <button class="btn custom-style-btn-1 pl-4 pr-4" type="submit">
      Submit
    </button>
  </form>
</div>

<%- include("partials/pseudo-footer") %>
