<%- include("partials/header") %>

<div class="console">
  <h1>
    Welcome, <%= user.fullName %> <br /><a href="/logout"
      ><button class="btn btn-danger">Logout</button></a
    >
  </h1>
</div>

<%- include("partials/footer") %>
